<section class="horizontal-form">

  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{!-- An example input option --}}
    {{#accordion-list-item
      title="Proxmox VE Options"
      detail="Enter Proxmox VE Credentials to log in"
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}

      <div class="row">
        <div class="col span-4">
          <label class="acc-label">Host Name</label>
          {{input value=config.host placeholder="10.0.0.1" classNames="form-control" focus-out="preFetchBaseData"}}
        </div>
        <div class="col span-4">
          <label class="acc-label">Port</label>
          {{input value=config.port placeholder=resourceFields.port.default classNames="form-control" focus-out="preFetchBaseData"}}
          <p class="text-info text-small m-0">{{get resourceFields "port.description"}}</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Node name</label>
          {{input value=config.node placeholder="pve" classNames="form-control"}}
          <p class="text-info text-small m-0">{{get resourceFields "node.description"}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col span-4">
          <label class="acc-label">Username</label>
          {{input value=config.user placeholder=resourceFields.user.default classNames="form-control"}}
          <p class="text-info text-small m-0">{{get resourceFields "user.description"}}</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Realm</label>
          {{new-select
                classNames="form-control"
                content=domains
                optionLabelPath="name"
                optionValuePath="value"
                value=config.realm
            }}
          <p class="text-info text-small m-0">{{get resourceFields "realm.description"}}</p>
        </div>

         <div class="col span-4">
          <label class="acc-label">Password</label>
          {{input type="password" value=config.password classNames="form-control"}}
          <p class="text-info text-small m-0">{{get resourceFields "password.description"}}</p>
        </div>
      </div>

      <div class="text-center pt-20 ember-view">
        {{#if (eq step 1)}}
          <button {{action "proxmoxLogin"}} class="btn bg-primary">Connect Proxmox</button>

          {{top-errors errors=errors}}
        {{else if (eq step 2)}}
          <i class="icon icon-spinner spin"></i>Loading&hellip;
        {{/if}}
      </div>

    {{/accordion-list-item}}

    {{#if (eq step 3)}}
      {{#accordion-list-item
                title="Guesst user information"
                detail="Set guest os user information such authorized ssh key's and ssh private key"
                expandAll=expandAll
                expand=(action expandFn)
                expandOnInit=true
          }}
      <div class="row">
          <div class="col span-6">
            <label class="acc-label">Username</label>
            {{input value=config.guestUsername placeholder=resourceFields.guestUsername.default classNames="form-control"}}
            <p class="text-info text-small m-0">{{get resourceFields "guestUsername.description"}}</p>
          </div>
          <div class="col span-6">
            <label class="acc-label">Password</label>
            {{input type="password" value=config.guestPassword classNames="form-control"}}
            <p class="text-info text-small m-0">{{get resourceFields "guestPassword.description"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">SSH Private Key</label>
            {{textarea value=config.guestSshPrivateKey classNames="form-control"}}
            <p class="text-info text-small m-0">{{get resourceFields "guestSshPrivateKey.description"}}</p>
          </div>
          <div class="col span-6">
            <label class="acc-label">SSH Public Key</label>
            {{textarea value=config.guestSshPublicKey classNames="form-control"}}
            <p class="text-info text-small m-0">{{get resourceFields "guestSshPublicKey.description"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col span-12">
            <label class="acc-label">Authorized SSH keys (one key per line)</label>
            {{textarea value={{get encodeSshAuthorizedKeys}} classNames="form-control"}}
            <p class="text-info text-small m-0">{{get resourceFields "guestSshAuthorizedKeys.description"}}</p>
          </div>
        </div>
      {{/accordion-list-item}}

      {{#accordion-list-item
            title="OS"
            detail="VM Guest OS Configuration"
            expandAll=expandAll
            expand=(action expandFn)
            expandOnInit=true
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">Image file</label>

            {{new-select
                classNames="form-control"
                content=imageFiles
                optionLabelPath="volid"
                optionValuePath="volid"
                value=config.imageFile
                prompt="Select iso image"
            }}
            <p class="text-info text-small m-0">{{get resourceFields "imageFile.description"}}</p>
          </div>

          <div class="col span-6">
            <label class="acc-label">Root Disk Size</label>
              <div class="input-group">
                {{input-integer min=1 value=config.disksizeGb classNames="form-control"}}
                <div class="input-group-addon bg-default">GB</div>
              </div>
            <p class="text-info text-small m-0">{{get resourceFields "disksizeGb.description"}}</p> 
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">Root Disk Storage</label>
            {{new-select
                classNames="form-control"
                content=storage
                optionLabelPath="storage"
                optionValuePath="storage"
                value=config.storage
                prompt="Select iso image"
            }}
            {{get imageFiles}}
            <p class="text-info text-small m-0">{{get resourceFields "imageFile.description"}}</p>
          </div>

          <div class="col span-6">
            <label class="acc-label">Root Disk Type</label>
             {{new-select
                classNames="form-control"
                content=storageTypeChoices
                optionLabelPath="name"
                optionValuePath="value"
                value=config.storageType
                prompt="Select Storage Type"
            }}
            <p class="text-info text-small m-0">{{get resourceFields "storageType.description"}}</p> 
          </div>
        </div>
      {{/accordion-list-item}}

      {{#accordion-list-item
            title="CPU & Memory"
            detail="VM CPU and Memory Configuration"
            expandAll=expandAll
            expand=(action expandFn)
            expandOnInit=true
      }}
        <div class="row">
          <div class="col span-4">
            <label class="acc-label">CPU</label>
            <div class="input-group">
              {{input-integer min=1 value=config.cpuSockets classNames="form-control"}}
              <div class="input-group-addon bg-default">Sockets</div>
            </div>
            <p class="text-info text-small m-0">{{get resourceFields "cpuSockets.description"}}</p>
          </div>

          <div class="col span-4">
              <label class="acc-label">&nbsp;</label>
              <div class="input-group">
                {{input-integer min=1 value=config.cpuCores classNames="form-control"}}
                <div class="input-group-addon bg-default">Cores</div>
              </div>
              <p class="text-info text-small m-0">{{get resourceFields "cpuCores.description"}}</p>
          </div>

          <div class="col span-4">
            <label class="acc-label">Type</label>
            {{new-select
                classNames="form-control"
                content=cpuTypeChoices
                optionLabelPath="name"
                optionValuePath="value"
                value=config.cpuType
            }}
            <p class="text-info text-small m-0">{{get resourceFields "cpuType.description"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col span-4">
            <label class="acc-label">{{input type="checkbox" checked=config.cpuNuma classNames="form-control"}} NUMA </label>
            <p class="text-info text-small m-0">{{get resourceFields "cpuNuma.description"}}</p>
          </div>

          <div class="col span-4">
            <label class="acc-label">{{input type="checkbox" checked=config.cpuPcid classNames="form-control"}} PCID</label>  
            <p class="text-info text-small m-0">{{get resourceFields "cpuPcid.description"}}</p>
          </div>

          <div class="col span-4">
            <label class="acc-label">{{input type="checkbox" checked=config.cpuSpecCtrl classNames="form-control"}} SPEC-CTRL</label>
            <p class="text-info text-small m-0">{{get resourceFields "cpuSpecCtrl.description"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
           <label class="acc-label">Memory Size</label>
            <div class="input-group">
              {{input-integer min=1 value=config.memoryGb classNames="form-control"}}
              <div class="input-group-addon bg-default">GB</div>
            </div>
            <p class="text-info text-small m-0">{{get resourceFields "memoryGb.description"}}</p>
          </div>

          <div class="col span-6">
             &nbsp;
          </div>
        </div>
      {{/accordion-list-item}}

      {{#accordion-list-item
            title="Network"
            detail="VM Network Configuration"
            expandAll=expandAll
            expand=(action expandFn)
            expandOnInit=true
      }}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">Bridge</label>
            {{new-select
                classNames="form-control"
                content=bridges
                optionLabelPath="iface"
                optionValuePath="iface"
                value=config.netBridge
            }}
            <p class="text-info text-small m-0">{{get resourceFields "netBridge.description"}}</p>
          </div>

          <div class="col span-6">
            <label class="acc-label">Model</label>
            {{new-select
                classNames="form-control"
                content=netModelChoices
                optionLabelPath="name"
                optionValuePath="value"
                value=config.netModel
            }}
            <p class="text-info text-small m-0">{{get resourceFields "netModel.description"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col span-6">
            <label class="acc-label">VLAN Tag</label>
            {{input type=text value=config.netVlantag placeholder="No Vlan" classNames="form-control"}}
            <p class="text-info text-small m-0">{{get resourceFields "netVlantag.description"}}</p>
          </div>

          <div class="col span-6">
            <label class="acc-label">MAC Address</label>
          </div>
        </div>

      {{/accordion-list-item}}

      {{!-- This following contains the Name, Labels and Engine Options fields --}}
      <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

      {{form-name-description
        model=model
        nameRequired=true
      }}

      {{form-user-labels
        initialLabels=labelResource.labels
        setLabels=(action 'setLabels')
        expandAll=expandAll
        expand=(action expandFn)
      }}

      {{form-engine-opts
        machine=model
        showEngineUrl=showEngineUrl
      }}
    {{/if}}
  {{/accordion-list}}

  {{#if (eq step 3)}}
    {{!-- This component shows errors produced by validate() in the component --}}
    {{top-errors errors=errors}}

    {{!-- This component shows the Create and Cancel buttons --}}
    {{save-cancel save="saveData" cancel="cancel"}}
  {{/if}}
</section>